{% extends 'base.html' %}
{% block content %}
<body>
  
  <div class="flex flex-wrap bg-gray-100 w-full h-screen overflow-auto">
    <!-- Hamburger Menu Button for Small Screens -->
    <div class="flex row w-full bg-white md:hidden justify-between items-center" id="hamburger">
      <button class="p-4 md:hidden top-2 left-2 z-50">
        <i class="fa-solid fa-bars text-2xl text-gray-700"></i>
      </button>

      <!-- Profile Section -->
      <div class="flex items-center space-x-4 p-2 mb-0 pr-6">
        <div>
          <h4 class="font-semibold text-sm text-gray-700 capitalize font-poppins tracking-wide">
            <!-- Name -->
             Name
          </h4>
          <span class="text-sm tracking-wide flex justify-end space-x-1">
            <span class="text-gray-600">
                <!-- Role -->
                Role
            </span>
          </span>
        </div>
      </div>

    </div>
    <!-- Sidebar -->
    <div id="sidebar" class="w-full md:w-2/12 bg-white rounded p-3 shadow-lg flex-col md:fixed md:h-full hidden md:visible md:flex">
      
      <!-- Profile Section -->
      <div class="flex items-center space-x-4 p-2 mb-0 md:flex md:visible hidden">
        <div>
          <h4 class="font-semibold text-lg text-gray-700 capitalize truncate font-poppins tracking-wide">
            <!-- Name -->
            Name
          </h4>
          <span class="text-sm tracking-wide flex items-center space-x-1">
            <span class="text-gray-600 font-poppins text-md">
                <!-- Role -->
                Role
            </span>
          </span>
        </div>
      </div>
      
      <!-- Navigation Menu -->
      <ul class="space-y-2 text-sm flex flex-col md:flex-col justify-around md:justify-start md:pt-5">
        <li>
          <!-- Home in side navbar -->
          <a href="/" class="flex items-center truncate space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:shadow-outline
          {% if request.path == '/' %}
            bg-gray-200
          {% endif %}">
            <span class="text-gray-600">
              <i class="fa-solid fa-chart-simple"></i>
            </span>
            <span>Statistics</span>
          </a>
        </li>

        <li>
          <!-- Upload in side navbar -->
          <a href="/upload" class="flex items-center truncate space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:shadow-outline
          {% if request.path == '/upload' %}
            bg-gray-200
          {% endif %}">
            <span class="text-gray-600">
              <i class="fa-solid fa-upload"></i>
            </span>
            <span>Upload Advertisement</span>
          </a>
        </li>
      </ul>
    </div>
        
        

    <!-- Main Content Area -->
    <div class="h-full w-full md:w-10/12 pt-0 md:ml-auto">
      {% block dashboard_content %}
      {% endblock dashboard_content %}
    </div>
</div>

<script src="../static/js/hamburger.js"></script>

  
</body>
{% endblock content %}